$measure: 1rem;

$gap: $measure;
$pad: $measure;
$radius: calc(#{$measure} / 4);

$c_white: rgba(255, 255, 255, 1);
$c_dark_charcoal: rgba(46, 45, 53, 1);
$c_true_blue: rgba(0, 102, 204, 1);
$c_chinese_silver: rgba(201, 201, 201, 1);
